@import '../../styles/mixins';
@import '../../styles/breakpoints';

/* custom styles */
.theme-switcher-bg {
  background:
    linear-gradient(#f7f7f7, #f7f7f7) padding-box,
    linear-gradient(129deg, #fff 16.48%, #a0a0a0 50%, #fff 83.52%) border-box;
}
[data-theme='dark'] .theme-switcher-bg {
  background:
    linear-gradient(#222, #222) padding-box,
    linear-gradient(129deg, #fff 16.48%, #a0a0a0 50%, #fff 83.52%) border-box;
}

.xxs-px-2 {
  @include breakpoint_xs(375px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}
